{% block tree_widget %}

  <div id="treecontrol">
    <a title="Colapsar" href="#"><img src="/bundles/category/images/associate/minus.gif" /> Colapsar </a>
    <a title="Expandir" href="#"><img src="/bundles/category/images/associate/plus.gif" /> Expandir </a>
    <a title="Toggle" href="#">Toggle</a>
  </div>

  {{ htmlTree | raw }}

  <script type="text/javascript">
    $(function() {
      $("#tree").treeview({
        collapsed: true,
        animated: "medium",
        control:"#treecontrol",
        persist: "location"
      });      
    });
  </script>
  
{% endblock %}
        