{% block tree_widget %}

  <div id="treecontrol">
    <a title="Collapse the entire tree below" href="#"><img src="/images/categorias/associate/minus.gif" /> Collapse All</a>
    <a title="Expand the entire tree below" href="#"><img src="/images/categorias/associate/plus.gif" /> Expand All</a>
    <a title="Toggle the tree below, opening closed branches, closing open branches" href="#">Toggle All</a>
  </div>

  {{ htmlTree | raw }}

  <script type="text/javascript">
    $(function() {
      $("#tree").treeview({
        collapsed: true,
        animated: "medium",
        control:"#treecontrol",
        persist: "location"
      });      
    });
  </script>
  
{% endblock %}
        